# IMportant Keyword and FUnction in Python

## keywords in python

In [ ]:
# in keyword

“in” Keyword:
The in keyword has two purposes:

To check if a value is present in a list, tuple, range, string, etc.

To iterate through a sequence in a for loop.

In [ ]:
numbers = [1,2,3,4]

In [ ]:
print(1 in numbers)

In [ ]:
print(5 in numbers)

In [ ]:
aplhabets=['a','b','c']

In [ ]:
print('a' in aplhabets)

### is keyword

The “is keyword” is used to test whether two variables belong to the same object.

In [93]:
x = ["apple", "banana", "cherry"]
y = x

In [94]:
print(y is x)

True

In [95]:
print(x is y)

True

In [96]:
print(id(x))

2478796081408

In [97]:
print(id(y))

2478796081408

In [98]:
a = ["apple", "banana", "cherry"]

b = ["apple", "banana", "cherry"]

print(a is b)

False

**Everything is in Python treated as an object, including variable, function, list, tuple, dictionary, set, int etc. Every object belongs to its class. For example - An integer variable belongs to integer class.**

In [ ]:
num = 10

In [ ]:
print(type(num))

### Comparison and Logical operators

In [ ]:
'''

>   Greater than
<   Lesser than 
==  Equal to
!=  Not equal to
>=  Greater than or equal to
<=  Lesser than or equal to
and 
or 
not 

'''

In [ ]:
num1 = 2

In [ ]:
num2 = 3

In [ ]:
print(num1 > num2)

In [ ]:
print(num1 < num2)

In [ ]:
print(num1 == num2)

In [ ]:
print(num1 > 1 and num2 > 2)

In [ ]:
print(num1 > 1 or num2 > 2)

In [ ]:
print(num1 > 4 or num2 > 2)

In [ ]:
print(not(num1 > 1 and num2 > 2))

In [ ]:
print('a' = 'b')

In [ ]:
a = 11
b = 10

In [ ]:
print(a >= b)

In [ ]:
a = 21
b = 22

In [ ]:
print(b <= a)

## Important functions/methods

In [ ]:
# range function

**Range function creates a sequence of numbers, it is commonly used in for loops to run the loop a certain number of time**

In [ ]:
help(range)

In [ ]:
print(range(1,10))

In [ ]:
print(range(10))

## For Loop

**For loops are used when you have a block of code which you want to repeat a fixed number of times. The for-loop is always used in combination with an iterable object, like a list , tuple, set, dictionary or a range function**

**Anything through which we can iterate over are iterable objects .
String, Lists, tuples, dictionaries, and sets are all iterable objects.**

If an object has __iter__ dunder method then it's an iterable object

In [ ]:
numbers=[1,2]

In [ ]:
dir(numbers)

In [ ]:
num = 10
dir(num)

In [ ]:
for x in range(0,10):
    print(x)

**I can take any other variable instead of x**

In [ ]:
for i in range(10):
    print(i)

In [ ]:
for i in range(0,10,2):
    print(i)

In [ ]:
# If I want to apply some operation on top of it

In [ ]:
for i in range(10):
    print(i * 2)

In [ ]:
for i in range(10):
    print('Dibya')

In [ ]:
for item in ['a','b','c']:
    print(item)

**Indentation**

In [ ]:
# What will be the output of the following statement?

In [ ]:
for x in range(0,10,1):
    print(x)

In [ ]:
for x in range(10,0,-1):
    print(x)

## list type conversion

list() : This function is used to convert any data type to a list type.

In [ ]:
name = 'hello'

In [ ]:
list(name)

In [ ]:
a = 123
print(name[0])

In [ ]:
print(list(range(11)))

### ZIP Funciton

zip() function takes iterable or containers and returns a single iterator object

In [87]:
num_list = [1,2,3]
str_list = ['one','two','three']

In [88]:
result = zip(num_list,str_list)

In [89]:
print(result)

<zip object at 0x00000241233786C0>

In [90]:
print(list(result))

[(1, 'one'), (2, 'two'), (3, 'three')]

**Q. Use for loop to print the above**

### join function

The join() function lets you merge string items in a list.

You only need to specify a delimiter and the target list to use it:

In [ ]:
a = ["Python", "tutorial", "on", "MUO"]
a = " ".join(a)

In [ ]:
print(a)

In [ ]:
a = ["Python", "tutorial", "on", "MUO"]
a = "-".join(a)

### enumerate function

In [ ]:
help(enumerate)

In [ ]:
print(list(enumerate(range(10))))

In [ ]:
l1 = ["eat", "sleep", "repeat"]

In [ ]:
print(list(enumerate(l1)))

In [ ]:
# How to write this using for loop

In [ ]:
for item in enumerate(l1):
    print(item)

### .split method

**The split() method splits a string into a list.**

In [ ]:
txt = "welcome to the jungle"

x = txt.split()

print(x)

### List comprehension

**Python List comprehension provides a much more short syntax for creating a new list based on the values of an existing list.**

**Syntax**
*The syntax of the Python programming language is the set of rules that defines how a Python program will be written and interpreted, so that it can be easily understood by human and machine*

**newList = [ expression(element) for element in oldList if condition ]**

In [ ]:
li = [character for character in [1, 2, 3]]
print(li)

In [ ]:
li = [character*2 for character in [1, 2, 3]]
print(li)

In [ ]:
li = [character**2 for character in [1, 2, 3]]
print(li)

In [ ]:
li = [i for i in range(11)]

In [ ]:
print(li)

In [ ]:
li = [i for i in range(11) if i % 2 == 0]

In [ ]:
print(li)

### A nested list is a list within a list

In [ ]:
nestedList = [1, 2, ['a', 1], 3]

In [ ]:
subList = nestedList[2]

In [ ]:
element = nestedList[2][0]

In [ ]:
print(element)

# Question

Q. Creats a new list using list comprehension which will contain all fruits except kiwi

In [ ]:
fruits = ['apple','banana','cherry','mango','kiwi']

Q. What is the output of the below ?

In [ ]:
for item in [1,2,3,4]:
    print(item)
    print(item)
    print(item)

Q. What is the output of the below ?

In [ ]:
for item in [1,2,3,4]:
    for x in ['a','b','c']:
        print(x)

Q. What is the output of the below ?

In [ ]:
for item in [1,2,3]:
    for x in ['a','b','c']:
        print(item)
    print(x)

## ** Setup Pycharm for coding **